html {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Playfair Display', serif;
}

.card {
  background-color: #B3B6AD;
}

.container {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.picture {
  width: 20%;
}

.logo {
  width: 50%;
}

p {
  color: #000;
  font-family: 'Playfair Display', serif;
}

a {
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  color: #000;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  color: #000;
}
